:root{
	--boy-color:#3FB8BC;
	--girl-color:#EA938C;
}

body{
	margin:0;

}

.container{
	display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -32px;

}

.or{
	padding: 15px;
    margin-top: 10pc;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    font-family: cursive;
    font-weight: bolder;
    box-shadow: 0px 1px 4px 3px #d0d0d0, -3px -3px 3px 0px #f8f8f8;
    cursor:pointer;
}

.boy{
	width: auto;
    height: 60vh;
}


.girl{
	width: auto;
    height: 65vh;
}

.para p{
	text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: cursive;
    word-spacing: 7px;
    letter-spacing: 4px;
    font-weight: bolder;
        margin-top: -32px;

}

.g {
	color:var(--girl-color);
}

.b {
	color:var(--boy-color);
}

canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- tsparticles container ---- */
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.display{
	display: flex;
    justify-content: center;
    justify-items: center;
}

h3 {
	text-align: center;
    font-size: 30px;
    display: grid;
    font-family: sans-serif;
}

h3 .sec{
	font-size: large;
    font-family: cursive;
    text-transform: uppercase;
	color:var(--boy-color);

}

#countdown{
	color:var(--girl-color);
}

.para2 p{
	text-align: center;
    font-size: 30px;
    margin-top: -30px;
    text-transform: capitalize;
    font-family: monospace;
}

.p p{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    text-transform: capitalize;
    margin-top: -60px;
    font-weight: 500;
}

.p .f{
    color:#ff7493;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.p .j{
    color:#ffc42a;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.f1{
    color:#ffc42a;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.j1{
    color:#00bac8;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#progressbar{
  height: 26px;
  position: absolute;
  left: 50%;
  top: 88%;
  width: 200px;
  background: rgba(159, 159, 159, 0.5);
  border-radius: 10px;
  margin: -20px 0 0 -100px;
  padding: 2px;
}
#loading{
  transition: all 500ms ease;
  height: 20px;
  width: calc(100% - 10px);
  border-radius: 8px;
  background: #feba2a;
  position: absolute;
  margin: 3px;
  display: inline-block;
  animation: load 15s ease infinite;
}
#load{
  color: #feba2a;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
}

@keyframes load{
  0%{
    width: 2%;
  }
  10%{
    width: 10%;
  }
}

@media only screen and (max-width:500px){
  #progressbar{
  position: absolute;
    top:80%;
    margin-top: -60px;
  }
  h3 .sec{
    font-family: monospace;
  }

  .p p{
    font-size: 22px;
    margin-top: 4px;
    font-family: monospace;

  }

  .j1,.j,.f,.f1{
    font-size: 20px;
  }


  .display img{
    width: 350px;
    height: 350px;
  }

  .girl,.boy{
    width: 200px;
    height: 200px;
  }

  .or{
    margin-top: 0;
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px;
    font-size: 20px;
  }

  .container{
    margin-top: 5px;
  }

  .para p{
    margin-top: 5px;
    font-family: monospace;

  }

}